<template>
	<view>
		<!-- 顶部自定义导航开始 -->
		<!-- <view class="tn-navbg" :style="{height: vuex_custom_bar_height + 'px'}"> -->
			<!-- 顶部自定义导航 -->
		<!-- 	<tn-nav-bar fixed alpha customBack>
				<view slot="back" class='tn-custom-nav-bar__back' @click="goBack">
					<text class='icon tn-icon-left'></text>
					<text class='icon tn-icon-home-capsule-fill'></text>
				</view>
				<view class="tn-flex tn-flex-col-center tn-flex-row-center ">
					<text class="tn-text-bold tn-text-xl tn-color-black">试题列表</text>
				</view>
			</tn-nav-bar>
		</view> -->
		<!-- 顶部自定义导航结束 -->
		<view  :style="{paddingTop: 0 + 'px'}">
			<liu-slide-questions :dataList="list" @submit="subData"></liu-slide-questions>
		</view>
	</view>
</template>

<script>
	import template_page_mixin from '@/libs/mixin/template_page_mixin.js'
	import {
		getCollectionExamList,
		submitExamCollection
	} from "@/utils/api/exam.js"
	export default {
		mixins: [template_page_mixin],
		data() {
			return {
				list: [], //问题列表数据
				optionSelectConfig: ["A", "B", "C", "D", "E", "F", "G", "H"],
				searchWhere: {
					collection_uid: ""
				},
			}
		},
		onLoad(params) {
			this.searchWhere.collection_uid = params.uid
			this.getOptionList()
			this.$t.mpShare = {
				share: false,
			}
			if (!this.$t.mpShare.share) {
				uni.hideShareMenu()
			}
		},
		methods: {
			// 获取选择试题
			getOptionList() {
				getCollectionExamList(this.searchWhere).then(res => {
					if (res.code == 100) {
						let optionArrayList = res.data.option
						for (let i = 0; i < optionArrayList.length; i++) { // 赋值选择试题
							let option = []
							for (let j = 0; j < optionArrayList[i].option.length; j++) { // 选择题选项
								option.push({
									alias: this.getSelectBg(j),
									answer: optionArrayList[i].option[j].key2,
									isSelect: 0 //这个是用来回显的字段(0:未选中；1:选中)(可不传)
								})
							}
							this.list.push({
								id: optionArrayList[i].uid,
								title: optionArrayList[i].title,
								secondTitle: optionArrayList[i].second_title,
								problemType: (optionArrayList[i].type == 1 ? 'SINGLE' : "MULTY"),
								children: option,
								originProblemType: "option",
							})
						}
						let judeArrayList = res.data.jude
						for (let i = 0; i < judeArrayList.length; i++) { // 判断试题
							let option = []
							for (let j = 0; j < judeArrayList[i].option.length; j++) { // 处理选项
								option.push({
									alias: this.getSelectBg(j),
									answer: judeArrayList[i].option[j].option,
									isSelect: 0 //这个是用来回显的字段(0:未选中；1:选中)(可不传)
								})
							}
							this.list.push({
								id: judeArrayList[i].uid,
								title: judeArrayList[i].title,
								secondTitle: "",
								problemType: "SINGLE",
								originProblemType: "jude",
								children: option
							})
						}
						console.log(this.list)
						return
					}
					this.$func.showToast(res.msg)
				})
			},
			//点击提交
			subData(data) {
				uni.showLoading({
					title: "答题努力计算中",
					mask: true,
				})
				let userAnswerArray = []
				for (let i = 0; i < data.length; i++) {
					let answerOption = []
					if (data[i].problemType == "MULTY") { // 多选题
						for (let j = 0; j < data[i].userAnswer.length; j++) {
							answerOption.push({
								answer: data[i].userAnswer[j].alias
							})
						}
					} else if (data[i].problemType == "SINGLE") { // 单选题
						answerOption.push({
							answer: data[i].userAnswer.alias
						})
					}
					userAnswerArray.push({
						uid: data[i].id,
						type: data[i].problemType,
						answer: answerOption,
						originType: data[i].originProblemType
					})
				}
				// 提交试卷
				submitExamCollection({
					collection_uid: this.searchWhere.collection_uid,
					record: JSON.stringify(userAnswerArray),
				}).then(res => {
					if (res.code == 100) {
						uni.hideLoading()
						this.$func.tnRelunch("/subpages/exam/reading/submit_result?submit_uid=" + res.data.submit_uid)
					} else {
						this.$func.showToast(res.msg)
					}
				})
			},
			getSelectBg(optionIndex) {
				return this.optionSelectConfig[optionIndex]
			},
		}
	}
</script>

<style scoped lang="scss">
	/* 胶囊*/
	.tn-custom-nav-bar__back {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 1000rpx;
		border: 1rpx solid rgba(255, 255, 255, 0.5);
		color: #FFFFFF;
		font-size: 18px;

		.icon {
			display: block;
			flex: 1;
			margin: auto;
			text-align: center;
		}

		&:before {
			content: " ";
			width: 1rpx;
			height: 110%;
			position: absolute;
			top: 22.5%;
			left: 0;
			right: 0;
			margin: auto;
			transform: scale(0.5);
			transform-origin: 0 0;
			pointer-events: none;
			box-sizing: border-box;
			opacity: 0.7;
			background-color: #FFFFFF;
		}
	}

	/* 胶囊结束*/
</style>