<template>
  <view class="page-c">
   <view class="">
   	<view class="" style="padding: 30vh 20rpx;">
   		<view class="tn-text-center" style="font-size: 200rpx;padding-top: 30rpx;">
   			<text class="tn-icon-empty-page tn-color-gray--light"></text>
   		</view>
   		<view class="tn-color-gray--disabled tn-text-center tn-text-lg">功能努力开发中</view>
   	</view>
   </view>
  </view>
</template>

<script>
  export default {
    name: 'Discovery',
    data() {
      return {}
    },

    onReady() {

    },
    methods: {
      // cardSwiper
      cardSwiper(e) {
        this.cardCur = e.detail.current
      },
   
      // 跳转
      tn(e) {
      	uni.navigateTo({
      		url: e,
      	});
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
